*{
  box-sizing:border-box;
  scroll-behavior: smooth;
}

body{
  margin:0px;
  padding: 0px;
  font-family: poppins;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#1db096;
}

li {
  float: right;
}

li a {
  display: block;
  color: dimgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}

.model img{
  object-fit: contain;
  border-radius: 50%;
   width:450px;
  height: 450px;
}

.content{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 20px;
}

.main-text{
  width:500px;
}

h2{
  font-size: 2.7rem;
  color:#1c3548;
  margin:0px 0px 10px 0px;
  line-height: 60px;
}
p {
  color:#747474;
}
.portfolio-btn{
  width:190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: #1db096;
  border-radius: 20px;
  box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
  background-color: #23cdaf;
  transition: all ease 0.2s;
}

#contact img {
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa {
  padding: 20px;
  font-size: 2em;
  width: 20px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
   border-radius: 50%;
   float: center;
}

.fa:hover {
    opacity: 0.7;
}
